.fondoNav{
    background-color: skyblue;
}
.textColor{
    color: rgb(17, 17, 92);
    font-weight: bold;
}
#nav-dropdown{
    color: rgb(17, 17, 92);
    font-weight: bold;
   
}
.titulo{
    color: rgb(195, 195, 238);
    font-weight: bold;
   
}
.logoBrand{
    background-color: skyblue;
    width: 40px;
    height: 40px;
}
